<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- pick up all spring application contexts -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath*:applicationContext.xml
            classpath*:/applicationContext-common.xml
            classpath:applicationContext-client.xml
	   	</param-value>
	</context-param>

  	<!-- Default page to serve -->
	<welcome-file-list>
	  <welcome-file>Showcase.html</welcome-file>
	</welcome-file-list>

</web-app>
