<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- pick up all spring application contexts -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath*:applicationContext.xml
            classpath*:/applicationContext-common.xml
            classpath:applicationContext-client.xml
        </param-value>
	</context-param>

	<!-- Log4j configuration -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/logging.properties</param-value>
	</context-param>
	<context-param>
		<param-name>log4jExposeWebAppRoot</param-name>
		<param-value>false</param-value>
	</context-param>
	<listener>
		<listener-class>
		org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>
	
	<!-- spring context loader -->
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    	  
  	<!-- Servlets -->
	<servlet>
		<servlet-name>ConfigurationRemote</servlet-name>
		<servlet-class>it.geosolutions.geogwt.gui.server.gwt.ConfigurationRemoteImpl</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SessionControllerRemoteService</servlet-name>
		<servlet-class>it.geosolutions.geogwt.web.examples.server.gwt.SessionControllerRemoteServiceImpl</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
	  <servlet-name>remoteLoggingServiceImpl</servlet-name>
	  <servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GwtOpenlayersProxy</servlet-name>
		<servlet-class>
			org.gwtopenmaps.openlayers.server.GwtOpenLayersProxyServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>GeoGWTRemoteService</servlet-name>
		<servlet-class>it.geosolutions.geogwt.gui.server.gwt.GeoGWTRemoteServiceImpl</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

  	<!-- Servlet Mappings -->
	<servlet-mapping>
		<servlet-name>ConfigurationRemote</servlet-name>
		<url-pattern>/maptoolbar_panel/ConfigurationRemote</url-pattern>
	</servlet-mapping>  	

	<servlet-mapping>
		<servlet-name>SessionControllerRemoteService</servlet-name>
		<url-pattern>/maptoolbar_panel/SessionControllerRemoteService</url-pattern>
	</servlet-mapping>
		
	<servlet-mapping>
	  <servlet-name>remoteLoggingServiceImpl</servlet-name>
	  <url-pattern>/maptoolbar_panel/logging</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>GwtOpenlayersProxy</servlet-name>
		<url-pattern>/gwtOpenLayersProxy/*</url-pattern>
	</servlet-mapping>
	
    <servlet-mapping>
		<servlet-name>GeoGWTRemoteService</servlet-name>
		<url-pattern>/maptoolbar_panel/GeoGWTRemoteService</url-pattern>
	</servlet-mapping>
		
  	<!-- Default page to serve -->
	<welcome-file-list>
	  <welcome-file>Maptoolbar_panel.html</welcome-file>
	</welcome-file-list>

</web-app>
