<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName">

	<context:annotation-config />

	<context:component-scan base-package="it.geosolutions.geogwt.gui" />

	<!-- GWT Configuration -->
	<bean id="geoGWTGlobalConfiguration"
		class="it.geosolutions.geogwt.gui.client.configuration.GeoGWTConfiguration" />

	<!-- Startup service -->
	<bean id="geogwtStartupService" class="it.geosolutions.geogwt.gui.service.impl.StartupService" />

	<!-- Remote service -->
	<bean id="geoGWTRemoteService"
		class="it.geosolutions.geogwt.gui.service.impl.GeoGWTRemoteServiceImpl">
		<property name="geoServerUrl" value="http://localhost:8181/geoserver" />
		<property name="geoServerUser" value="" />
		<property name="geoServerPassword" value="" />
		<property name="wmsVersion" value="1.1.1" />
		<property name="wfsVersion" value="1.0.0" />
		<property name="featureInfoCount" value="20" />
		<property name="bufferRange" value="2" />
		<property name="getFeatureCRS" value="EPSG:4326" />
	</bean>

	<!-- Toolbar configuration -->
	<bean name="toolbarItemManager" class="it.geosolutions.geogwt.gui.client.ToolbarItemManager">
		<property name="clientTools">
			<list>
				<ref bean="poweredBy" />
				<ref bean="toolbarSeparator_1" />
				<ref bean="pan" />
				<ref bean="zoomAll" />
				<ref bean="zoomBox" />
				<ref bean="zoomIn" />
				<ref bean="zoomOut" />
				<!-- <ref bean="boxSelect" /> -->
				<ref bean="drawFeature" />
<!-- 				<ref bean="pointSelect" />  -->
				<ref bean="getFeatureInfo" />
				<ref bean="toolbarSeparator_2" />
				<ref bean="fillItem" />
			</list>
		</property>
	</bean>

	<bean name="poweredBy"
		class="it.geosolutions.geogwt.gui.client.configuration.GenericClientTool">
		<property name="id" value="PoweredBy" />
		<property name="order" value="-400" />
	</bean>

	<bean name="toolbarSeparator_1"
		class="it.geosolutions.geogwt.gui.client.configuration.GenericClientTool">
		<property name="id" value="ToolbarSeparator" />
		<property name="order" value="-300" />
	</bean>

	<bean name="fillItem"
		class="it.geosolutions.geogwt.gui.client.configuration.GenericClientTool">
		<property name="id" value="FillItem" />
		<property name="order" value="300" />
	</bean>

	<bean name="pan"
		class="it.geosolutions.geogwt.gui.client.configuration.ActionClientTool">
		<property name="id" value="pan" />
		<property name="type" value="toggle" />
		<property name="enabled" value="true" />
		<property name="order" value="0" />
	</bean>

	<bean name="zoomAll"
		class="it.geosolutions.geogwt.gui.client.configuration.ActionClientTool">
		<property name="id" value="zoomAll" />
		<property name="type" value="button" />
		<property name="enabled" value="true" />
		<property name="order" value="5" />
	</bean>

	<bean name="zoomBox"
		class="it.geosolutions.geogwt.gui.client.configuration.ActionClientTool">
		<property name="id" value="zoomBox" />
		<property name="type" value="toggle" />
		<property name="enabled" value="true" />
		<property name="order" value="10" />
	</bean>

	<bean name="zoomIn"
		class="it.geosolutions.geogwt.gui.client.configuration.ActionClientTool">
		<property name="id" value="zoomIn" />
		<property name="type" value="button" />
		<property name="enabled" value="true" />
		<property name="order" value="20" />
	</bean>

	<bean name="zoomOut"
		class="it.geosolutions.geogwt.gui.client.configuration.ActionClientTool">
		<property name="id" value="zoomOut" />
		<property name="type" value="button" />
		<property name="enabled" value="true" />
		<property name="order" value="30" />
	</bean>

	<bean name="toolbarSeparator_2"
		class="it.geosolutions.geogwt.gui.client.configuration.GenericClientTool">
		<property name="id" value="ToolbarSeparator" />
		<property name="order" value="40" />
	</bean>

	<!-- <bean name="boxSelect" -->
	<!-- class="it.geosolutions.geogwt.gui.client.configuration.ActionClientTool"> -->
	<!-- <property name="id" value="boxSelect" /> -->
	<!-- <property name="type" value="toggle" /> -->
	<!-- <property name="enabled" value="true" /> -->
	<!-- <property name="order" value="50" /> -->
	<!-- </bean> -->

	<bean name="drawFeature"
		class="it.geosolutions.geogwt.gui.client.configuration.ActionClientTool">
		<property name="id" value="drawFeature" />
		<property name="type" value="toggle" />
		<property name="enabled" value="true" />
		<property name="order" value="60" />
	</bean>

<!-- 	<bean name="pointSelect" -->
<!-- 	class="it.geosolutions.geogwt.gui.client.configuration.ActionClientTool"> -->
<!-- 	<property name="id" value="pointSelect" /> -->
<!-- 	<property name="type" value="toggle" /> -->
<!-- 	<property name="enabled" value="true" /> -->
<!-- 	<property name="order" value="70" /> -->
<!-- 	</bean> -->

	<bean name="getFeatureInfo"
		class="it.geosolutions.geogwt.gui.client.configuration.ActionClientTool">
		<property name="id" value="getFeatureInfo" />
		<property name="type" value="toggle" />
		<property name="enabled" value="true" />
		<property name="order" value="80" />
	</bean>

</beans>